<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/db75def5cf.js" crossorigin="anonymous"></script>
        <link href="css/layout.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- to include other file -->
        <%- include('_header.ejs') %> 
        <h1>Codeial / <%=title %></h1>
    </body>
</html>