<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/db75def5cf.js" crossorigin="anonymous"></script>
        <link href="css/layout.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/header.css">
    </head>
    <body>
        <!-- to include other file -->
        <%- include('_header.ejs') %> 
        <h1>Codeial / <%=title %></h1>
        <section id="feed-post">
            <h4>Posts</h4>
            <form action="" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3"></textarea>
                <input type="submit" value="Post">
            </form>
        </section>
    </body>
</html>